<!DOCTYPE html>
<html>
    <head>
            <link  href="../static/css/home.css" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.cdnfonts.com/css/sansation" rel="stylesheet">
            
            <title>Miniliga Official Website</title>
    </head>
    <body>
        <div class="navigation">
            <div class="container">
                <img src= "img/logoMini.png" alt="logo" class="logo"/>
                <ul class="menu">
                    <li>
                        <a href="Miniliga.html">HOME</a>
                    </li>
                    <li>
                        <a href="Miniliga.html">TABELA</a>
                    </li>
                    <li>
                        <a href="Miniliga.html">MECZE</a>
                    </li>
                    <li>
                        <a href="Miniliga.html">STATYSTYKI</a>
                    </li>
                </ul>
            </div>
                
        </div>
        <div class="hero">
            <div class="container">
                <h1 class="main-title">MINILIGA</h1>
                <h2 class="sub-title"> Rozpocznij swoją przygodę w lidze futbolu szescioosobowego.
                                    Walcz z innymi zespołami, aby osiągnąć sukces i cieszyć się
                                    ze wspólnej gry ze znajomymi w miłej i przyjaznej atmosferze. </h2>
                <a href="" class="button">Zarejestruj się</a>
            </div>
        </div>
        <div class="block-info">
        </div>
        <div class="container">
                <h2 class="mid-title">Dołącz do nas oraz zapoznaj się z  korzysciami jakimi dysponujemy</h2>
            <div class="zasady">
                <ul class="zasady-menu">
                    <li>
                        <h1 class="zasady-number">01</h1>
                    </li>
                    <li> 
                        <h3 class="zasady-name">Nagrody</h3>
                    </li>
                    <p class="zasady-bio">W każdym sezonie za osiąganie najwyższych wyników, każda najlepsza drużyna oraz każdy
                    najlepszy zawodnik. Mogą otrzymać nagrody na
                    zakończenie sezonu. W skład nagród, które można otrzymać, wliczają się : Nagorda dla najlepszego Strzelca, 
                    Bramkarza oraz Zawodnika MVP. Medale oraz puchary za zajęcie trzech najlepszych miejsc w danej lidze. </p>
                </ul> 
            </div>
            <div class="zasady">
                <ul class="zasady-menu">
                    <li>
                        <h1 class="zasady-number">01</h1>
                    </li>
                    <li> 
                        <h3 class="zasady-name">Nagrody</h3>
                    </li>
                    <p class="zasady-bio">W każdym sezonie za osiąganie najwyższych wyników, każda najlepsza drużyna oraz każdy
                    najlepszy zawodnik. Mogą otrzymać nagrody na
                    zakończenie sezonu. W skład nagród, które można otrzymać, wliczają się : Nagorda dla najlepszego Strzelca, 
                    Bramkarza oraz Zawodnika MVP. Medale oraz puchary za zajęcie trzech najlepszych miejsc w danej lidze. </p>
                </ul> 
            </div>
        </div>
    </body>
    </html>